.hero{
    background-color: rgb(218, 214, 214);
    /* background-image: url(./assets/ai.jpg); */
}

.search{
    background-color: rgb(243, 243, 245);
}
body{
 background-color: rgb(250, 248, 248);

}